@font-face {
  font-family: "Arial";
  src: url("../fonts/arial.ttf") format("truetype");
}
@font-face {
  font-family: "Arial Black";
  src: url("../fonts/ariblk.ttf") format("truetype");
}
@font-face {
  font-family: "Bradley Hand ITC";
  src: url("../fonts/BRADHITC.TTF") format("truetype");
}
@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/BRADHITC.TTF") format("truetype");
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri.ttf") format("truetype");
}
@font-face {
  font-family: "Cambria";
  src: url("../fonts/cambria.ttc") format("ttc");
}
@font-face {
  font-family: "Cambria Math";
  src: url("../fonts/cambriab.ttf") format("truetype");
}
@font-face {
  font-family: "Candara";
  src: url("../fonts/Candara.ttf") format("truetype");
}
@font-face {
  font-family: "Comic Sans Ms";
  src: url("../fonts/comic.ttf") format("truetype");
}
@font-face {
  font-family: "Consolas";
  src: url("../fonts/consola.ttf") format("truetype");
}
@font-face {
  font-family: "Constantia";
  src: url("../fonts/constan.ttf") format("truetype");
}
@font-face {
  font-family: "Corbel";
  src: url("../fonts/corbel.ttf") format("truetype");
}
@font-face {
  font-family: "Courier New";
  src: url("../fonts/cour.ttf") format("truetype");
}
@font-face {
  font-family: "Ebrima";
  src: url("../fonts/ebrima.ttf") format("truetype");
}
@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("../fonts/FRADM.TTF") format("truetype");
}
@font-face {
  font-family: "Gabriola";
  src: url("../fonts/Gabriola.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf") format("truetype");
}
@font-face {
  font-family: "HoloLens MDL2 Assets";
  src: url("../fonts/holomdl2.ttf") format("truetype");
}
@font-face {
  font-family: "Impact";
  src: url("../fonts/impact.ttf") format("truetype");
}
@font-face {
  font-family: "Ink Free";
  src: url("../fonts/Inkfree.ttf") format("truetype");
}
@font-face {
  font-family: "Javanese Text";
  src: url("../fonts/javatext.ttf") format("truetype");
}
@font-face {
  font-family: "Leelawadee UI";
  src: url("../fonts/LeelawUI.ttf") format("truetype");
}
@font-face {
  font-family: "Lucida Console";
  src: url("../fonts/lucon.ttf") format("truetype");
}
@font-face {
  font-family: "Lucida Sans Unicode";
  src: url("../fonts/LSANS.TTF") format("truetype");
}
@font-face {
  font-family: "Malgun Gothic";
  src: url("../fonts/malgunsl.ttf") format("truetype");
}
@font-face {
  font-family: "Nirmala UI";
  src: url("../fonts/Nirmala.ttf") format("truetype");
}
@font-face {
  font-family: "Palatino Linotype";
  src: url("../fonts/pala.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe MDL2 Assets";
  src: url("../fonts/segmdl2.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe Print";
  src: url("../fonts/segoeprb.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe Script";
  src: url("../fonts/segoescb.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/segoeui.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI Historic";
  src: url("../fonts/seguihis.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI Emoji";
  src: url("../fonts/seguiemj.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI Symbol";
  src: url("../fonts/seguisym.ttf") format("truetype");
}
@font-face {
  font-family: "Sitka";
  src: url("../fonts/Sitka.ttc") format("truetype");
}
@font-face {
  font-family: "Sylfaen";
  src: url("../fonts/sylfaen.ttf") format("truetype");
}
@font-face {
  font-family: "Symbol";
  src: url("../fonts/symbol.ttf") format("truetype");
}
@font-face {
  font-family: "Tahoma";
  src: url("../fonts/tahoma.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/times.ttf") format("truetype");
}
@font-face {
  font-family: "Trebuchet MS";
  src: url("../fonts/trebucbd.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana";
  src: url("../fonts/verdana.ttf") format("truetype");
}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "LatoBlack";
  src: url("../fonts/Lato-Black.ttf") format("truetype");
}
