.Org {
  display: inline-block;
  width: 100%;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 30px;

  @media(max-width:767px){
    padding: 15px;
    }
  ul {
    list-style: none;
    display: flex;
  }
  li {

    list-style: none;
    display: flex;
  }
  .upper-panel {
    padding: 10px;
    padding-left: 0;
    display: flex;
    width: 100%;
    @media(max-width:767px){
    display: block;
    text-align: center;

    }
    .search-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #002c72;
      border-radius: 20px;
      padding: 5px;
      @media(max-width:767px){
       margin-bottom: 10px;
        }
      .search-input {
        background-color: transparent;
        border: none;
        font-weight: bold;
        outline: 0;
        color: #606163;
        margin-left: 10px;
        @media(max-width:767px){
          width: 100%;
          text-align: center;
          margin: 0;
         }
      }
      .search-icon {
        margin: 10px;
      }
    }
    .button-bar {
      margin-left: auto;
      @media(max-width:767px){
       
        margin-top: 30px;
        
       }
      .btn {
        // color: #505050;
        // border: 2px solid #505050;
        @media(max-width:767px){
            width: 100%;
            margin-top: 30px;
            
           }

      }
    }
  }
  @media (max-width:400px) {
    .upper-panel{
      display: block;
    }
  }
  .lower-panel {
    display: block;
    margin: 10px;
    .limit-div {
      padding: 10px;
      padding-left: 0;
      padding-bottom: 20px;
      label {
        color: #121212;
      }
      input {
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        width: 70px;
        text-align: center;
        border: 2px solid #002c72;
      }
    }
    ul li {
      .btn-pag {
        margin: 10px;
      }
    }

    Table {
      thead {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      th {
        color: #121212;
        padding: 10px;
        font-family: "LatoBold";
        font-size: 14px;
      }
      td {
        .icon-action {
          color: #333333;
          width: 28px;
          height: 28px;
          padding: 3px;
          border-radius: 50%;
          transition: all 0.3s;
          cursor: pointer;
        }
        .icon-action:hover {
          color: #fff;
          background: #002c72;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
.view {
  display: inline-block;
  width: 100%;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 30px;
  label {
    font-size: 17px;
    // letter-spacing: 3px;
  }
  h {
    font-size: 17px;
    // letter-spacing: 1px;
    font-weight: 500;
  }
  .limit-div {
    padding: 20px 0;
    label {
      color: #121212;
    }
    input {
      margin: 10px;
      padding: 5px;
      border-radius: 5px;
      width: 70px;
      text-align: center;
      border: 2px solid #002c72;
    }
  }
  Table {
    thead {
      border: 1px solid #505050;
    }
    th {
      color: #505050;
      font-weight: 600;
    }
    td {
      .icon-div {
        display: flex;
        align-items: center;
      }
      .icon-action {
        color: black;
        margin-left: 10px;
        font-size: 20px;
      }
      .icon-action:hover {
        color: #0a80e0;
        box-shadow: 5px 10px 31px 6px rgba(0, 0, 0, 0.75);
      }
    }
  }
  .upper-panel {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #505050;
    padding-left: 0;
    padding-right: 0;
    .details {
      display: flex;
      @media(max-width:767px){
        display: block;
      }
    }
    .detail-control-left {
      label {
        padding: 10px;
        padding-left: 0;
        padding-right: 5px;
        
      }
    }
    .detail-control-right {
      margin-left: auto;
      label {
        padding: 5px;
        @media(max-width:767px){
          padding-left: 0;
        }
      }
    }
  }
  .lower-panel {
    padding: 10px;
    width: 100%s;

    .tabs-main {
      padding: 10px;
      background: white;
      .tabs {
        padding: 10px;
        background: white;
      }
    }
  }
}
.modal-header .btn-close {
  padding: 0;
}
.modal-title.h4 {
  margin: 0;
}
